/* Menu Button */
.topAppBar label {
    display: flex;
    flex-direction: column;
    /* width: 3rem; */
    /* height: 3rem; */
    scale: 0.5;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.topAppBar label span {
    background: var(--yellow);
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.topAppBar span:nth-of-type(1) {
    width: 50%;
}

.topAppBar span:nth-of-type(2) {
    width: 100%;
}

.topAppBar span:nth-of-type(3) {
    width: 75%;
}

.topAppBar input[type="checkbox"] {
    display: none;
}

.topAppBar input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
}

.topAppBar input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

.topAppBar input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
}

/* Top App Bar */
.topAppBar ul {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    background-color: var(--myred);
}

.topAppBar li {
    float: left;
    text-align: center;
}

.topAppBar li h1 {
    color: var(--yellow);
    position: fixed;
    top: 0;
    left: 36%;
    display: inline-block;
    /* text-align: center; */
    font-size: 2rem;
}
